@use "../../mixin/mixin" as mix;

.right-section {
  padding: 20px 36px;
  background: linear-gradient(
    90deg,
    rgba(59, 66, 67, 1) 0%,
    rgba(4, 3, 21, 1) 97%
  );
  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
    i {
      cursor: pointer;
    }
    & > .info {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        width: 42px;
        height: 42px;
        padding: 6px;
        border-radius: 6px 0px 0px 6px;
        background-color: #32323d;
      }
      span {
        font-size: 13.3px;
        padding: 13px;
        background-color: #25252d;
        border-radius: 0px 6px 6px 0px;
      }
    }
  }

  &-body {
    margin-top: 40px;
    padding: 20px;
    background-color: #202026;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & .top-section {
      width: 100%;
      &-header {
        @include mix.header-seeAll();
      }
      img {
        width: 80%;
        height: 200px;
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 6px;
        &:hover {
          transform: scale(1.2);
        }
      }

      .screen-song {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .name-of-song {
          max-width: 200px;
          min-width: 50px;
          // display: flex;
          // justify-content: center;
          // align-items: start;
          text-wrap: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          flex-grow: 1;
        }
      }
    }
    & .time-and-process {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-self: center;
      gap: 10px;
      font-weight: 300;
      font-size: 14px;
      span {
        flex-shrink: 0;
      }
    }
    & #process {
      appearance: none;
      width: 100%;
      height: 3px;
      border-radius: 4px;
      cursor: pointer;
      margin: 20px 0;
      background: #fff;
      // background: linear-gradient(to right, #5773ff 50%, #fff 50%);
      &::-webkit-slider-thumb {
        appearance: none;
        width: 17px;
        height: 10px;
        background-color: #5773ff;
        border-radius: 4px;
        cursor: pointer;
        clip-path: polygon(
          0% 0%,
          0% 100%,
          25% 100%,
          42% 75%,
          42% 21%,
          100% 65%,
          86% 41%,
          0 100%,
          100% 100%,
          100% 0%
        );
      }
    }
  }

  & .player-action {
    width: 100%;
    background-color: #5773ff;
    height: 26%;
    border-radius: 10px;
    margin-top: -10px;
    position: relative;
    & .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      padding-top: 24px;
      & > * {
        cursor: pointer;
      }
      & .btn-play-pause {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
        flex-shrink: 0;
        width: 36px;
        height: 36px;
      }
    }

    & .lyrics {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      left: 45%;
      bottom: 2%;
    }
  }
}
